@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

html, body {
    height: 100%;
    background: linen;
    font-family: 'Fira Sans', sans-serif;
}

@media (max-width: 440px) {
    #length-control {
        display: flex;
        flex-direction: column;
    }
}

.my-buttons {
    background-color: lightblue;

    &:active, &:hover {
        background-color: powderblue;
    }
}

#start_stop {
    background-color: wheat;

    &:active, &:hover {
        background-color: tan;
    }
}

#reset {
    background-color: lightcoral;

    &:active, &:hover {
        background-color: indianred;
    }
}

#time-left {
  font-size: 40px;
}
