html, body {
    height: 100%;
    background: linen;
}

@media (max-width: 440px) {
    #length-control {
        display: flex;
        flex-direction: column;
    }
}

.my-buttons {
    background-color: lightblue;

    &:hover {
        background-color: lightslategrey;
    }
}

#start_stop {
    background-color: wheat;

    &:hover {
        background-color: tan;
    }
}

#reset {
    background-color: lightcoral;

    &:hover{
        background-color: indianred;
    }
}
